@using Zenzinger_Eshop_Web.Areas.Customer.Controllers
@model Zenzinger_Eshop_Web.Models.Entity.Order

@{
    Layout = null;
    var filename = $"Invoice {Model.Id}";
}
@{
    <title>@filename</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <section class="container-fluid">
        <div id="ui-view" data-select2-id="ui-view">
            <div>
                <div class="card">
                    <div class="card-header">Invoice
                        <strong>@Model.Id</strong>
                        <a class="p-4 d-print-none" asp-controller="CustomerOrders" asp-action="Index">Back to list</a>
                        <a class="btn btn-sm btn-secondary float-right mr-1 d-print-none" href="#" onclick="window.print();" data-abc="true">
                            <i class="fa fa-print"></i> Print</a>
                    </div>
                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col-sm-4">
                                <h6 class="mb-3">From:</h6>
                                <div>
                                    <strong>Zenzinger_Eshop_Web</strong>
                                </div>
                                <div>42, Zlinskeho</div>
                                <div>Zlin City, New Zlin, 10394</div>
                                <div>Email: zenzinger.eshop@gmail.com</div>
                                <div>Phone: +48 123 456 789</div>
                            </div>
                            <div class="col-sm-4">
                                <h6 class="mb-3">To:</h6>
                                <div>
                                    <strong>@Model.User.FirstName @Model.User.LastName</strong>
                                </div>
                                <div>Address</div>
                                <div>City address</div>
                                <div>Email: @Model.User.Email</div>
                                <div>Phone: @Model.User.PhoneNumber</div>
                            </div>
                            <div class="col-sm-4">
                                <h6 class="mb-3">Details:</h6>
                                <div>Invoice
                                    <strong>@Model.Id</strong>
                                </div>
                                <div>@Model.DateTimeCreated</div>
                                <div>Account Name: @Model.User.UserName</div>
                                <div>
                                    <strong>SWIFT code: 99 8888 7777 6666 5555</strong>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive-sm">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="center">#</th>
                                    <th>Product name</th>
                                    <th>Description</th>
                                    <th class="right">Unit Cost</th>
                                </tr>
                                </thead>
                                @{
                                    int i = 0;
                                    foreach (var item in Model.OrderItems)
                                    {
                                        <tbody>
                                        <tr>
                                            @{ i++;}
                                            <td class="center">@i</td>
                                            <td class="left">@item.Product.Info</td>
                                            <td class="left">@item.Product.Name</td>
                                            <td class="right">$ @item.Product.Price</td>
                                        </tr>
                                        </tbody>
                                    }
                                }
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-5">Lorem Thanksium dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                            <div class="col-lg-4 col-sm-5 ml-auto">
                                <table class="table table-clear">
                                    <tbody>
                                    <tr>
                                        <td class="left">
                                            <strong>Total</strong>
                                        </td>
                                        <td class="right">
                                            <strong>$ @Model.TotalPrice</strong>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}